# dependencies
node_modules/

# next.js
.next/
out/

# vercel
.vercel

# production build
build/

# testing
coverage/

# env
.env
.env*.local

# logs
*.log
npm-debug.log*

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
